/*padding*/

.pad-lft{
	padding-left: 20px;
}
.pad-btm {
    padding-bottom: 15px;
}
.pad-all {
    padding: 15px;
}

.mar-tft{
    margin-top: 15px;
}

.text-main, a.text-main:hover, a.text-main:focus {
    color: #4d627b;
}

.bord-top {
    border-top: 1px solid rgba(0,0,0,0.07);
}

.img-sm {
    width: 48px;
    height: 48px;
}
.img-md {
    width: 64px;
    height: 64px;
}

.text-semibold {
    font-weight: 600;
}

.mar-no {
    margin: 0 !important;
}

 .checkbox.custom label{
    line-height: 25px;
 }